//------------------------------------------------------------------
// Site wide colour variables
//------------------------------------------------------------------

$white: #fff;
$off-white: #f7f7f7;
$grey-light: #cddaed;
$grey-mid: #7a7a7a;
$grey-dark: #333;
$black: #000;

//------------------------------------------------------------------
// Base Colurs
//------------------------------------------------------------------

:root {
  --primary-colour: #008bd1;
  --secondary-colour: #0f1b25;
}

$primary: #008bd1 !default;
$primary: var(--primary-colour);
$secondary: #0f1b25 !default;
$secondary: var(--secondary-colour);

//------------------------------------------------------------------
// Font Colurs
//------------------------------------------------------------------

$text: $black;
$text-light: $grey-mid;

.colour--white {
  color: $white !important;
}

.colour--primary {
  color: $primary !important;
}

.colour--secondary {
  color: $secondary !important;
}
