//------------------------------------------------------------------
// Font face
//------------------------------------------------------------------

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin semi {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

@mixin black {
  font-weight: 700;
}

//------------------------------------------------------------------
// Element Sizes
//------------------------------------------------------------------

html {
  font-size: 10px;

  .type {
    margin-bottom: 0;
  }
}

body {
  @include regular;
  font-size: 1.6rem;
}

h1,
.h1 {
  @include bold;
  font-size: 4rem;
}

h2,
.h2 {
  @include bold;
  font-size: 3.2rem;
}

h3,
.h3 {
  @include bold;
  font-size: 2.8rem;
}

h4,
.h4 {
  @include bold;
  font-size: 2.4rem;
}

h5,
.h5 {
  @include bold;
  font-size: 2rem;
}

h6,
.h6 {
  @include bold;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}
