//------------------------------------------------------------------
//                          Break Points
//------------------------------------------------------------------

$xxs: 480px;
$xs: 540px;
$sm: 640px;
$md: 768px;
$xmd: 968px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

//------------------------------------------------------------------
// Box Shadows
//------------------------------------------------------------------

$z1: 0 1px 3px rgba(black, 0.12), 0 1px 2px rgba(black, 0.24);
$z2: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
$z3: 0 10px 20px rgba(black, 0.19), 0 6px 6px rgba(black, 0.23);
$z4: 0 14px 28px rgba(black, 0.25), 0 10px 10px rgba(black, 0.22);
$z5: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.22);
$z6: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(black, 0.14);
$z7: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(black, 0.07);
$z8: 0 38.4px 38.4px -25.6px rgba(50, 50, 93, 0.2), 0 76.8px 76.8px -51.2px rgba(50, 50, 93, 0.4);
$z9: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(15, 23, 42, 0.1) 0px 20px 25px -5px, rgba(15, 23, 42, 0.1) 0px 8px 10px -6px;

$shadow: $z9;

//------------------------------------------------------------------
// Easing Functions
//------------------------------------------------------------------

$slow: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
$medium: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
$fast: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

//------------------------------------------------------------------
// HAF
//------------------------------------------------------------------

@mixin active {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

//------------------------------------------------------------------
// Media Queries
//------------------------------------------------------------------

@mixin media($size1, $size2: min) {
  @if $size2 == min {
    @media only screen and (min-width: $size1) {
      @content;
    }
  } @else if $size2 == max {
    @media only screen and (max-width: $size1 - 1) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $size1) and (max-width: $size2 - 1) {
      @content;
    }
  }
}

//------------------------------------------------------------------
// Vertical Align
//------------------------------------------------------------------

@mixin vertical-align {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

//------------------------------------------------------------------
// Placeholders
//------------------------------------------------------------------

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

//------------------------------------------------------------------
// Micro Clearfix
//------------------------------------------------------------------

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

//------------------------------------------------------------------
// Pseudo Elements
//------------------------------------------------------------------

@mixin pseudo {
  position: absolute;
  display: block;
  content: '';
}

//------------------------------------------------------------------
// Full Positioning
//------------------------------------------------------------------

@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//------------------------------------------------------------------
// Dynamic Aspect Ratios
//------------------------------------------------------------------

@mixin aspect($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: percentage($y / $x);
  }
}

//------------------------------------------------------------------
// Background Cover
//------------------------------------------------------------------

@mixin cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

//------------------------------------------------------------------
// Responsive SVGs
//------------------------------------------------------------------

@mixin svg($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: percentage($y / $x);
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
