/*------------------------------------------------------------------
Sitewide colors
------------------------------------------------------------------*/

$off-white: #f4f4f7;
$white: #ffffff;
$grey-light: #ebebeb;
$grey-mid: #7a7a7a;
$grey-dark: #333;
$black: #000000;

/*------------------------------------------------------------------
Base colors
------------------------------------------------------------------*/

:root {
  --primary-color: #008bd1;
  --secondary-color: #0f1b25;
}

$primary: #008bd1 !default;
$primary: var(--primary-color);
$secondary: #0f1b25 !default;
$secondary: var(--secondary-color);

/*------------------------------------------------------------------
Font colors
------------------------------------------------------------------*/

$text: black;
$text-light: $grey-mid;

.color--white {
  color: white !important;
}

.color--primary {
  color: $primary !important;
}

.color--secondary {
  color: $secondary !important;
}
