/*------------------------------------------------------------------
Font face
------------------------------------------------------------------*/

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin semi {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

@mixin black {
  font-weight: 700;
}
