/*------------------------------------------------------------------
Imports
------------------------------------------------------------------*/
@use 'sass:math';

/*------------------------------------------------------------------
Font face
------------------------------------------------------------------*/

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin semi {
  font-weight: 500;
}

@mixin medium {
  font-weight: 700;
}

@mixin bold {
  font-weight: 700;
}

@mixin black {
  font-weight: 900;
}

/*------------------------------------------------------------------
Vertical align
------------------------------------------------------------------*/

@mixin vertical-align {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

/*------------------------------------------------------------------
Vertical center
------------------------------------------------------------------*/

@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*------------------------------------------------------------------
Cover
------------------------------------------------------------------*/

@mixin cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*------------------------------------------------------------------
Placeholders
------------------------------------------------------------------*/

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

/*------------------------------------------------------------------
Clearfix 
------------------------------------------------------------------*/

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*------------------------------------------------------------------
Pseudo elements
------------------------------------------------------------------*/

@mixin pseudo {
  position: absolute;
  display: block;
  content: '';
}

/*------------------------------------------------------------------
Full positioning
------------------------------------------------------------------*/

@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*------------------------------------------------------------------
Media queries
------------------------------------------------------------------*/

@mixin media($size1, $size2: min) {
  @if $size2 ==min {
    @media only screen and (min-width: $size1) {
      @content;
    }
  } @else if $size2 ==max {
    @media only screen and (max-width: ($size1 - 1)) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $size1) and (max-width: ($size2 - 1)) {
      @content;
    }
  }
}

/*------------------------------------------------------------------
Dynamic Aspect Ratios
------------------------------------------------------------------*/

@mixin aspect($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: math.percentage(math.div($y, $x));
  }
}

/*------------------------------------------------------------------
Responsive SVGs
------------------------------------------------------------------*/

@mixin svg($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: math.percentage(math.div($y, $x));
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
