/*------------------------------------------------------------------
Font face
------------------------------------------------------------------*/

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin semi {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

@mixin black {
  font-weight: 700;
}


/*------------------------------------------------------------------
Vertical align
------------------------------------------------------------------*/

@mixin vertical-align {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*------------------------------------------------------------------
Placeholders
------------------------------------------------------------------*/

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

/*------------------------------------------------------------------
Clearfix 
------------------------------------------------------------------*/

@mixin clearfix {

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

/*------------------------------------------------------------------
Pseudo elements
------------------------------------------------------------------*/

@mixin pseudo {
  position: absolute;
  display: block;
  content: '';
}

/*------------------------------------------------------------------
Full positioning
------------------------------------------------------------------*/

@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*------------------------------------------------------------------
Background Cover
------------------------------------------------------------------*/

@mixin cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}