/*------------------------------------------------------------------
Imports
------------------------------------------------------------------*/
@use 'sass:math';

/*------------------------------------------------------------------
Media queries
------------------------------------------------------------------*/

@mixin media($size1, $size2: min) {
  @if $size2 ==min {
    @media only screen and (min-width: $size1) {
      @content;
    }
  }

  @else if $size2 ==max {
    @media only screen and (max-width: ($size1 - 1)) {
      @content;
    }
  }

  @else {
    @media only screen and (min-width: $size1) and (max-width: ($size2 - 1)) {
      @content;
    }
  }
}

/*------------------------------------------------------------------
Dynamic Aspect Ratios
------------------------------------------------------------------*/

@mixin aspect($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: math.percentage(math.div($y, $x));
  }
}

/*------------------------------------------------------------------
Responsive SVGs
------------------------------------------------------------------*/

@mixin svg($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: math.percentage(math.div($y, $x));
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}