/*------------------------------------------------------------------
Easing functions
------------------------------------------------------------------*/

$slow: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
$medium: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
$fast: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

/*------------------------------------------------------------------
Breakpoints
------------------------------------------------------------------*/

$xxs: 480px;
$xs: 540px;
$sm: 640px;
$md: 768px;
$xmd: 968px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
