//------------------------------------------------------------------
// Accordion Block
//------------------------------------------------------------------

.accordionBlock {
  &__wrap {
    margin: 0 auto;

    &__item {
      position: relative;
      border-top: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
      margin-bottom: -1px;

      &.active {
        .accordionBlock__wrap__item__heading:before,
        .accordionBlock__wrap__item__heading:after {
          transform: rotate(180deg);
        }
      }

      &__heading {
        position: relative;
        padding: 2rem 0;
        cursor: pointer;

        &.active,
        &:hover {
          * {
            color: $primary;
          }

          &:before,
          &:after {
            background: $primary;
          }
        }

        h5 {
          margin-bottom: 0 !important;
          padding-right: 2.5rem;

          * {
            transition: all 111ms ease;
          }
        }

        &:before {
          @include pseudo;
          width: 2.2rem;
          height: 0.3rem;
          background: $grey-dark;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -1px;
          transform: rotate(90deg);
          transition: transform 444ms ease, background 111ms ease;
        }

        &:after {
          @include pseudo;
          width: 2.2rem;
          height: 0.3rem;
          background: $grey-dark;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -1px;
          transition: transform 444ms ease, background 111ms ease;
        }
      }

      &__content {
        display: none;

        &__inner {
          padding: 1rem 0 2rem;
        }
      }
    }
  }
}
