/*------------------------------------------------------------------
Accordion Block
------------------------------------------------------------------*/

.accordion {
  margin: 8rem auto;

  &__wrap {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: $lg;

    &--wide {
      max-width: $xl;
    }

    &--narrow {
      max-width: $xmd;
    }

    &--thin {
      max-width: $sm;
    }

    &__item {
      position: relative;
      border-top: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
      margin-bottom: -1px;

      &__heading {
        position: relative;
        padding: 2rem 0;
        cursor: pointer;

        h5 {
          margin-bottom: 0 !important;
          padding-right: 2.5rem;
        }

        &:before,
        &:after {
          @include pseudo;
          width: 2.2rem;
          height: 0.3rem;
          background: $primary;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -1px;
          transition: transform 444ms ease, background 111ms ease;
        }

        &:after {
          transform: rotate(90deg);
        }
      }

      &:not(.active) .accordion__wrap__item__content {
        display: none;
      }

      &__content {
        transition: height 0.35s ease-in-out;
        overflow: hidden;

        &__inner {
          padding: 1rem 0 2rem;
        }
      }

      /*------------------------------------------------------------------
      Active styles
      ------------------------------------------------------------------*/

      &.active {
        .accordion__wrap__item__heading:after {
          transform: rotate(0) !important;
        }
      }
    }
  }
}
