.block {
  margin: 5rem auto;

  img {
    display: block;
    height: auto;
    max-width: 100%;


    @include media($lg) {
      &.left {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
      }

      &.right {
        float: right;
        margin-left: 15px;
        margin-bottom: 15px; 
      }

      &:not([width]) {
        max-width: 100%;
      }

      &:not([height]) {
        height: auto;
      }
    }
  }
}
