.cartPage {
  position: relative;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: $xl;
    margin: 5rem auto;
    padding: 0 1rem; 

    form {
      width: 100%;

      .btn-toolbar {
        border-top: 1px solid $grey-light;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }

    table.cart {
      width: 100%;

      tr td{
        border-top: 1px solid $grey-light;
      }
    }

    .cartfooter {
      width: 100%;
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .button {
        margin-left: 2rem;
      }
    }
  }
}
