/*------------------------------------------------------------------
Download block
------------------------------------------------------------------*/

.download-element {
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.75rem 2rem;
    border-bottom: 1px solid $grey-light;
    text-decoration: none;

    &:first-of-type {
      border-top: 1px solid $grey-light;
    }

    &__icon {
      width: 6rem;
      position: relative;
      top: 0.5rem;

      svg {
        overflow: visible;

        path {
          transition: all 222ms ease;
        }
      }
    }

    &__details {
      width: calc(100% - 6rem);
    }

    &:hover {
      .download-element__item__details b {
        color: $primary;
      }

      path {
        fill: $primary;

        &:last-of-type {
          transform: translateY(3px);
        }
      }
    }
  }
}
