//------------------------------------------------------------------
// Accordion Block
//------------------------------------------------------------------
body {
  .imageBlock {
    &__wrap {
      margin: 0 auto;
      max-width: $xl;
      padding: 0 2rem;
      position: relative;
      transition: all 888ms ease;
      opacity: 0;
      will-change: opacity, transform;
      transform: matrix(1, 0, 0, 1, 0, 20);

      &.inView {
        transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &__caption {
        background: $primary;
        position: absolute;
        bottom: 3rem;
        left: 0rem;
        padding: 1rem 4rem;
        box-shadow: $shadow;
        transform: translateX(-2rem);

        p {
          color: $white;
          margin: 0;
        }
      }
    }
  }
}
