//------------------------------------------------------------------
// Accordion Block
//------------------------------------------------------------------

.imageBlock {
  &__wrap {
    margin: 0 auto;
 
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
