/*------------------------------------------------------------------
Image and text block
------------------------------------------------------------------*/

.image-element {
  &__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__image {
      width: 50%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;

      @include media($md, max) {
        width: 100%;
        transform: none !important;
        order: 1 !important;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      width: 50%;
      padding: 8rem;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;

      @include media($md, max) {
        width: 100%;
        order: 2;
        padding: 3rem 0 0;
      }
    }
  }
}

.image-element--reversed {
  .image-element__wrap__image {
    order: 2;
  }

  .image-element__wrap__text {
    order: 1;
  }
}
