//------------------------------------------------------------------
// Image Text Block
//------------------------------------------------------------------

.linkBlock {
  max-width: $xl;
  margin: 0 auto;

  &__wrap {
    padding: 4rem 2rem;
    margin: 0 -2rem;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @include media($md, max) {
      margin: 0 auto;
    }

    &__item {
      box-shadow: $shadow;
      margin: 2rem;
      background: $white;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;

      @for $i from 0 through 12 {
        &:nth-child(#{$i}) {
          opacity: 0;
          transition: all 666ms ease;
          transition-delay: #{($i * 20)}ms;
          transform: translateY(#{($i * 30)}px);
        }
      }

      &.bordered {
        &:after {
          @include pseudo;
          top: 0;
          left: 0;
          right: 0;
          border-top: 4px solid $primary;
        }
      }

      &.inView {
        transform: translateY(0);
        opacity: 1;
      }

      &:hover {
        .linkBlock__wrap__item__content__link svg {
          transform: translateX(0.5rem);
        }
      }

      &__image {
        @include cover;
        @include aspect(600, 300);
        width: 100%;
      }

      &__icon {
        text-align: center;
        display: block;

        img {
          margin: 2rem auto 0;
          display: inline-block;
          max-width: 100%;
          height: auto;
        }
      }

      &__content {
        padding: 1rem 3rem 2rem;

        &__heading {
          position: relative;
          margin: 2rem auto 1rem;
          text-align: center;
        }
      }

      &__content {
        &__link {
          color: $primary;

          svg {
            transition: all 333ms ease;

            path {
              fill: $primary;
            }
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------
// Variations
//------------------------------------------------------------------

.linkBlock__wrap--2 .linkBlock__wrap__item {
  width: calc(50% - 4rem);

  @include media($md, max) {
    width: calc(100%);
    margin: 2rem 1rem;
  }
}

.linkBlock__wrap--3 .linkBlock__wrap__item {
  width: calc(33.333% - 4rem);

  @include media($md, max) {
    width: calc(100%);
    margin: 2rem 1rem;
  }
}

.linkBlock__wrap--4 .linkBlock__wrap__item {
  width: calc(25% - 4rem);

  @include media($md, max) {
    width: calc(100%);
    margin: 2rem 1rem;
  }
}
