/*------------------------------------------------------------------
Tabbed block
------------------------------------------------------------------*/

.tabbed-block {
  &__wrap {
    margin: 8rem auto;
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: $lg;

    &--wide {
      max-width: $xl;
    }

    &--narrow {
      max-width: $xmd;
    }

    &--very-narrow {
      max-width: $sm;
    }

    &__tabs {
      width: 30rem;
      border-right: 1px solid $grey-light;
      position: relative;

      @include media($xmd, max) {
        width: 100%;
        border-right: 0 solid $grey-light;
        border-left: 1px solid $grey-light;
        padding-left: 2rem;
        margin-bottom: 4rem;
      }

      &__indicator {
        position: absolute;
        width: 4px;
        right: -1px;
        min-height: 2rem;
        background: $primary;
        transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);

        @include media($xmd, max) {
          right: auto;
          left: -1px;
        }
      }

      &__item {
        padding: 1rem 2rem 1rem 0;
        display: block;

        @include media($xmd, max) {
          padding: 0;
        }

        &.active {
          h6 {
            color: $primary;
          }
        }
      }
    }

    &__content {
      width: calc(100% - 30rem);
      padding: 0 4rem;

      @include media($xmd, max) {
        width: 100%;
        padding: 0;
      }

      &__item {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}
