/*------------------------------------------------------------------
Text block
------------------------------------------------------------------*/

.text-block {
  position: relative;

  &--off-white {
    padding: 8rem 0;
    background: $off-white;

    .text-block__wrap {
      margin: 0 auto;
    }
  }

  &--primary {
    padding: 8rem 0;
    background: $primary;

    .text-block__wrap {
      margin: 0 auto;
    }
  }

  &__wrap {
    padding: 0 2rem;
    margin: 8rem auto;
    max-width: $lg;

    &--wide {
      max-width: $xl;
    }

    &--narrow {
      max-width: $xmd;
    }

    &--thin {
      max-width: $sm;
    }

    &--column {
      display: flex;
      flex-wrap: wrap;

      @include media($lg) {
        &__left {
          width: 50%;
          padding-right: 4rem;
          position: relative;

          &:after {
            @include pseudo;
            top: 2rem;
            bottom: 2rem;
            width: 1px;
            right: 0;
            background: $grey-light;
          }
        }

        &__right {
          width: 50%;
          padding-left: 4rem;
        }
      }
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;

      @include media($lg) {
        &.left,
        &.leftALone {
          float: left;
          margin-right: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &.right,
        &.rightAlone {
          float: right;
          margin-left: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &:not([width]) {
          max-width: 100%;
        }

        &:not([height]) {
          height: auto;
        }
      }
    }
  }
}
