//------------------------------------------------------------------
// Download Block
//------------------------------------------------------------------

.videoBlock {
  &__wrap {
    margin: 0 auto;
    max-width: $xl;
    padding: 0 2rem; 
    @include aspect(1920, 1080);
    overflow: hidden;
    display: block;

    &:hover {
      .videoBlock__wrap__background {
        cursor: pointer;
        transform: scale(1);
      }
    }

    &__background {
      @include full;
      @include cover;
      transform: scale(1.05);
      transition: all 555ms ease;
      z-index: 1;
    }

    &__icon {
      @include svg(1, 1);
      @include vertical-center;
      width: 8rem;
      z-index: 2;
      cursor: pointer;

      circle {
        fill: $primary;
      }
    }
  }
}
