/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/_resources/
/public/_resources/
/public/assets/
/assets
.DS_Store
/blocks
/silverstripe.log
/shop-api
/_graphql/
/.graphql-generated/
/public/_graphql/
/public/.graphql-generated/
.yarn/install-state.gz
.yarn/releases/yarn-4.4.0.cjs
.yarn
/node_modules
.ss-cache
