//------------------------------------------------------------------
// Imports
//------------------------------------------------------------------

@import '../components/colours';
@import '../components/fonts';
@import '../components/lists';
@import '../components/tables';
@import '../components/blockquotes';
@import '../components/buttons';
@import '../components/forms';
@import '../components/spacing';

//------------------------------------------------------------------
// Include Overrides
//------------------------------------------------------------------

$global-width: 120rem;
$global-width-px: 1200px;
$global-width-max: 150rem;
$global-width-max-px: 1500px;
$column-count: 12;
$gutter-width: 2rem;
// $row-classes: 2, 3, 4, 5, 6, 7; // output example: 4 = md-up-4
// $column-classes: 3, 4, 5, 6, 7, 8, 9, 10, 12; // output example: 4 = md-4

$breakpoint-map: (
  'sm': $sm,
  'md': $md,
  'xmd': $xmd,
  'lg': $lg,
);

// List our styles we want to alter with our ColourClasses e.g color--primary, background-color--primary
// 'color', 'background-color', 'border-color', 'fill', 'stroke'
$colour-styles: 'color';

//------------------------------------------------------------------
// Components
//------------------------------------------------------------------

@include TheGrid;

// Classes: Inject these includes with $breakpoint-map if needed

@include TextAlignmentClasses();
@include TableAlignmentClasses($breakpoint-map);



@include ColourClasses($colour-styles);

//------------------------------------------------------------------
// Default Button Styles
//------------------------------------------------------------------

@include ButtonStyles {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 1.2rem 3.5rem;
  border-radius: 4rem;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem!important;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border-width: .2rem;
  border-style: solid;
  @include transition((color, border-color, background-color));
}

@include ButtonClasses;

@include Fonts;
@include ListStyles;
@include TableStyles;
@include BlockquoteStyles;
@include FormStyles;
@include SpacingStyles;
