/*------------------------------------------------------------------
Element styles
------------------------------------------------------------------*/

html {
    font-size: 10px;

    .type {
        margin-bottom: 0;
    }
}

body {
    font-size: 1.6rem;
}

h1,
html body .h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

h2,
html body .h2 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

h3,
html body .h3 {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

h4,
html body .h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

h5,
html body .h5 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

h6,
html body .h6 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

b,
strong {
    font-weight: 600;
}

i,
em {
    font-style: italic;
}

p {
    margin-bottom: 2rem;
}

html body {
    .smaller {
        font-size: 80%;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .no-margin {
        margin: 0;
    }
}

.colour--white {
    color: var(--colour-white) !important;
}

.colour--primary {
    color: var(--colour-primary) !important;
}

.colour--secondary {
    color: var(--colour-secondary) !important;
}