/*------------------------------------------------------------------
Media Queries
------------------------------------------------------------------*/
:root {
    --is-max-width-xxxs: false;
    --is-max-width-xxs: false;
    --is-max-width-xs: false;
    --is-max-width-sm: false;
    --is-max-width-md: false;
    --is-max-width-xmd: false;
    --is-max-width-lg: false;
    --is-max-width-xl: false;
    --is-max-width-xxl: false;
    --is-max-width-xxxl: false;

    --is-min-width-xxxs: false;
    --is-min-width-xxs: false;
    --is-min-width-xs: false;
    --is-min-width-sm: false;
    --is-min-width-md: false;
    --is-min-width-xmd: false;
    --is-min-width-lg: false;
    --is-min-width-xl: false;
    --is-min-width-xxl: false;
    --is-min-width-xxxl: false;

    @media only screen and (max-width: 375px) {
        --is-max-width-xxxs: true;
    }

    @media only screen and (max-width: 480px) {
        --is-max-width-xxs: true;
    }

    @media only screen and (max-width: 540px) {
        --is-max-width-xs: true;
    }

    @media only screen and (max-width: 640px) {
        --is-max-width-sm: true;
    }

    @media only screen and (max-width: 768px) {
        --is-max-width-md: true;
    }

    @media only screen and (max-width: 968px) {
        --is-max-width-xmd: true;
    }

    @media only screen and (max-width: 1024px) {
        --is-max-width-lg: true;
    }

    @media only screen and (max-width: 1280px) {
        --is-max-width-xl: true;
    }

    @media only screen and (max-width: 1440px) {
        --is-max-width-xxl: true;
    }

    @media only screen and (max-width: 1920px) {
        --is-max-width-xxxl: true;
    }

    @media only screen and (min-width: 375px) {
        --is-min-width-xxxs: true;
    }

    @media only screen and (min-width: 480px) {
        --is-min-width-xxs: true;
    }

    @media only screen and (min-width: 540px) {
        --is-min-width-xs: true;
    }

    @media only screen and (min-width: 640px) {
        --is-min-width-sm: true;
    }

    @media only screen and (min-width: 768px) {
        --is-min-width-md: true;
    }

    @media only screen and (min-width: 968px) {
        --is-min-width-xmd: true;
    }

    @media only screen and (min-width: 1024px) {
        --is-min-width-lg: true;
    }

    @media only screen and (min-width: 1280px) {
        --is-min-width-xl: true;
    }

    @media only screen and (min-width: 1440px) {
        --is-min-width-xxl: true;
    }

    @media only screen and (min-width: 1920px) {
        --is-min-width-xxxl: true;
    }
}
