/*------------------------------------------------------------------
Imports
------------------------------------------------------------------*/
@use 'sass:math';

/*------------------------------------------------------------------
Font face
------------------------------------------------------------------*/

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin semi {
  font-weight: 500;
}

@mixin medium {
  font-weight: 700;
}

@mixin bold {
  font-weight: 700;
}

@mixin black {
  font-weight: 900;
}




/*------------------------------------------------------------------
Media queries
------------------------------------------------------------------*/

@mixin media($size1, $size2: min) {
  @if $size2 ==min {
    @media only screen and (min-width: $size1) {
      @content;
    }
  }

  @else if $size2 ==max {
    @media only screen and (max-width: ($size1 - 1)) {
      @content;
    }
  }

  @else {
    @media only screen and (min-width: $size1) and (max-width: ($size2 - 1)) {
      @content;
    }
  }
}