/*------------------------------------------------------------------
Base colors
------------------------------------------------------------------*/

:root {

    // Colours
    --color-white: #ffffff;
    --color-off-white: #f7f7f7;
    --color-grey-light: #ebebeb;
    --color-grey-mid: #7a7a7a;
    --color-grey-dark: #0f1b25;
    --color-black: #000000;


    // Brand design colours
    --color-primary: #2a6cff;
    --color-secondary: #0f1b25;


    // Text colours
    --text-dark: var(--color-black);
    --text-light: var(--color-grey-mid);


    // Border radius
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 16px;


    // Breakpoints
    --breakpoint-xxxs: 375px;
    --breakpoint-xxs: 480px;
    --breakpoint-xs: 540px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-xmd: 968px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1440px;
    --breakpoint-xxxl: 1920px;


    // Timings
    --timing-slower: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-slow: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-medium: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-fast: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-faster: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);


    // Shadows
    --shadow-large: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(15, 23, 42, 0.1) 0px 20px 25px -5px,
        rgba(15, 23, 42, 0.1) 0px 8px 10px -6px;
}