:root {
    // Colours
    --colour-white: #ffffff;
    --colour-off-white: #f6f9ff;
    --colour-grey-lighter: #f3eeea;
    --colour-grey-light: #ebebeb;
    --colour-grey-mid: #ccc;
    --colour-grey-dark: #0f1b25;
    --colour-black: #000000;

    // Brand design colours
    --colour-primary: #4a6f95;
    --colour-secondary: #475569;

    // gutters
    --gutter-base: 2rem;
    --gutter-tiny: calc(var(--gutter-base) * 0.25);
    --gutter-smaller: calc(var(--gutter-base) * 0.33);
    --gutter-small: calc(var(--gutter-base) * 0.5);
    --gutter-medium: calc(var(--gutter-base) * 0.75);
    --gutter-large: calc(var(--gutter-base) * 1.5);
    --gutter-larger: calc(var(--gutter-base) * 2);
    --gutter-huge: calc(var(--gutter-base) * 4);

    // Text colours
    --text-dark: var(--colour-black);
    --text-light: var(--colour-grey-mid);

    // Border radius
    --radius-tiny: 2px;
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 16px;
    --radius-larger: 20px;
    --radius-full: 1000000rem;

    // Widths
    --width-xxxs: 375px;
    --width-xxs: 480px;
    --width-xs: 540px;
    --width-sm: 640px;
    --width-md: 768px;
    --width-xmd: 968px;
    --width-lg: 1024px;
    --width-xl: 1280px;
    --width-xxl: 1440px;
    --width-xxxl: 1920px;

    // Timings
    --timing-slower: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-slow: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-medium: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-fast: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-faster: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

    // Shadows
    --shadow-large: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(15, 23, 42, 0.1) 0px 20px 25px -5px, rgba(15, 23, 42, 0.1) 0px 8px 10px -6px;
}