/*------------------------------------------------------------------
Base colors
------------------------------------------------------------------*/

:root {

    // Colours
    --color-white: #ffffff;
    --color-off-white: #f7f7f7;
    --color-grey-light: #ebebeb;
    --color-grey-mid: #7a7a7a;
    --color-grey-dark: #0f1b25;
    --color-black: #000000;


    // Brand design colours
    --color-primary: #020300;
    --color-secondary: #2C2823;


    // Text colours
    --text-dark: var(--color-black);
    --text-light: var(--color-grey-mid);


    // Border radius
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 16px;


    // Widths
    --width-xxxs: 375px;
    --width-xxs: 480px;
    --width-xs: 540px;
    --width-sm: 640px;
    --width-md: 768px;
    --width-xmd: 968px;
    --width-lg: 1024px;
    --width-xl: 1280px;
    --width-xxl: 1440px;
    --width-xxxl: 1920px;


    // Timings
    --timing-slower: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-slow: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-medium: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-fast: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    --timing-faster: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);


    // Shadows
    --shadow-large: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(15, 23, 42, 0.1) 0px 20px 25px -5px,
        rgba(15, 23, 42, 0.1) 0px 8px 10px -6px;


    --is-width-xxxs: false;
    --is-width-xxs: false;
    --is-width-xs: false;
    --is-width-sm: false;
    --is-width-md: false;
    --is-width-xmd: false;
    --is-width-lg: false;
    --is-width-xl: false;
    --is-width-xxl: false;
    --is-width-xxxl: false;



    @media only screen and (max-width:768px) {
        --is-width-md: true;
    }

    @media only screen and (max-width:968px) {
        --is-width-xmd: true;
    }


    @media only screen and (max-width:1024px) {
        --is-width-lg: true;
    }

}




// Widths
$width-xxxs: --width-xxxs;
$width-xxs: --width-xxs;
$width-xs: --width-xs;
$width-sm: --width-sm;
$width-md: --width-md;
$width-xmd: --width-xmd;
$width-lg: --width-lg;
$width-xl: --width-xl;
$width-xxl: --width-xxl;
$width-xxxl: --width-xxxl;