/*------------------------------------------------------------------
Product
------------------------------------------------------------------*/

.cart-popup {
  display: none;
}

.product {
  &__wrap {
    max-width: $xl;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__gallery {
      width: calc(50% - 2rem);
      display: flex;
      flex-wrap: wrap;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &__inner {
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__featured {
          width: calc(100% - 14rem);

          
        }

        &__tabs {
          width: 10rem;

          &__item {
            margin-bottom: 1rem;
            display: block;

            &.active {
              outline: 3px solid $black;
            }
          }
        }
      }
    }

    &__details {
      width: calc(50% - 2rem);

      &__form {
        button {
          width: 100%;
        }

        .product-form__controls-group {
          margin-bottom: 3rem;
        }
      }

      &__description {
        line-height: 1.5;
      }
    }
  }
}
