/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/mixins' as mixin;
@use './../base/colors' as color;
@use './../base/vars' as var;

/*------------------------------------------------------------------
Accordion Element
------------------------------------------------------------------*/

.accordion-element {
  &__item {
    border-top: 1px solid color.$grey-light;
    border-bottom: 1px solid color.$grey-light;
    margin-bottom: -1px;

    &.active {
      .accordion-element__trigger:after {
        transform: rotate(0) !important;
      }
    }

    &:not(.active) .accordion-element__content {
      display: none;
    }
  }

  &__trigger {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 2rem 0;
    padding-right: 2.5rem;
    appearance: none;
    border: 0;
    width: 100%;
    background: transparent;
    text-align: left;
    outline-offset: 10px;

    &:before,
    &:after {
      @include mixin.pseudo;
      width: 2.2rem;
      height: 0.3rem;
      background: color.$primary;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px;
      transition: all var.$fast;
    }

    &:after {
      transform: rotate(90deg);
    }
  }

  &__content {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
  }

  &__inner {
    padding: 1rem 0 2rem;
  }
}
