//------------------------------------------------------------------
// Home Page
//------------------------------------------------------------------

.banner {
  overflow: hidden;
  position: relative;
  margin-top: 8rem;   
 
  .banner__wrap__colour {
    @include full;
    background: $secondary;
    z-index: -2000;
  }

  &--generic {
    .banner__wrap {
      width: 100%;
      height: auto;
      background: $off-white;
      padding: 0 2rem;
    }

    .banner__wrap__overlay {
      opacity: 0;
    }

    .banner__wrap__content {
      padding: 14rem 0;
      position: relative;
      left: auto;
      top: auto;
      transform: none;
    }
  }

  &__wrap {
    width: 100%;
    height: calc(100vh - 8rem);

    .bannerImage {
      @include full;
      @include cover;

      &:after {
        @include pseudo;
        background: linear-gradient(0deg, rgba($black, 0.4) 0%, rgba($black, 0) 100%);
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        height: 100%;
      }
    }

    &__icon {
      @include svg(278, 145);
      position: absolute;
      width: 50%;
      opacity: 0.4;
      margin: 0 auto;
      bottom: 0%;
      left: 0%;
      z-index: 3;
      transform: translateY(20%) translateX(-20%);
    }

    &__overlay {
      @include full;
      z-index: 2;
      background: $black;
      opacity: 0.65;
    }

    &__content {
      @include vertical-center;
      width: 100%;
      max-width: $lg;
      padding: 2rem;
      z-index: 5;
      margin: 0 auto;
    }
  }
}
