.button {
  text-align: center;
  background: $primary;
  padding: 1rem 3.5rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  text-decoration: none !important;
  color: white !important;
  transition: all 111ms ease;
  border: 0;
  font-size: 1.4rem;
  border-radius: 0.2rem;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(black, 0.2);
  }

  &:active {
    transform: translateY(1px);
  }

  &--secondary {
    background: transparent;
    background: $secondary;

    &:hover {
      box-shadow: inset 0 0 0 1000px rgba(black, 0.3);
    }
  }

  &--white {
    color: $primary !important;
    background: white;
  }

  &--outline {
    padding: 0.8rem 4rem;
    background: transparent;
    border: 2px solid $primary;
    color: $primary !important;

    &:hover {
      background: $primary !important;
      color: white !important;
      box-shadow: none;
    }
  }
}

.arrow-link {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: inline-block;
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10"><path fill="%23000" fill-rule="evenodd" d="M8.423.015 13.408 5 8.422 9.985 7.38 8.943l3.2-3.2H.09V4.257H10.58l-3.2-3.2L8.424.016Z"/></svg>');
    background-size: 14px 10px;
    background-repeat: no-repeat;
    width: 14px;
    height: 10px;
    margin-left: 0.8rem;
    top: -1px;
    transition: all $fast;
  }

  &:hover {
    &:after {
      transform: translateX(0.3rem);
    }
  }
}
