//------------------------------------------------------------------
// Debug
//------------------------------------------------------------------

.debug { 
  @include full; 
  position: fixed;
  z-index: 9999999999;
  pointer-events: none;
  display: none;

  &.active {
    display: block;
  }

  &__wrap {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width: $xxl;
    bottom: 0;
    top: 0;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;

    &__center {
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1px;
      bottom: 0;
      top: 0;
      background: rgba(pink, 0.5);
      border-right: 1px solid $primary;
    }

    &__left {
      display: block;
      position: absolute;
      left: 2rem;
      max-width: 1px;
      bottom: 0;
      top: 0;
      background: rgba(pink, 0.5);
      border-left: 1px solid $primary;
    }

    &__right {
      display: block;
      position: absolute;
      right: 2rem;
      max-width: 1px;
      bottom: 0;
      top: 0;
      background: rgba(pink, 0.5);
      border-right: 1px solid $primary;
    }
  }

  &__outer {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width: $xl;
    bottom: 0;
    top: 0;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;

    &__center {
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1px;
      bottom: 0;
      top: 0;
      background: rgba(pink, 0.5);
      border-right: 1px solid $secondary;
    }

    &__left {
      display: block;
      position: absolute;
      left: 2rem;
      max-width: 1px;
      bottom: 0;
      top: 0;
      background: rgba(pink, 0.5);
      border-left: 1px solid $secondary;
    }

    &__right {
      display: block;
      position: absolute;
      right: 2rem;
      max-width: 1px;
      bottom: 0;
      top: 0;
      background: rgba(pink, 0.5);
      border-right: 1px solid $secondary;
    }
  }
}
