/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/vars' as var;

/*------------------------------------------------------------------
Global element styles
------------------------------------------------------------------*/

.element {
  margin: 8rem auto;
  position: relative;
  max-width: var.$breakpoint-lg;

  &.full {
    max-width: 100%;
  }

  &.wide {
    max-width: var.$breakpoint-xl;
  }

  &.standard {
    max-width: var.$breakpoint-lg;
  }

  &.narrow {
    max-width: var.$breakpoint-xmd;
  }

  &.thin {
    max-width: var.$breakpoint-sm;
  }

  > [class*='__wrap'] {
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    width: 100%;
  }
}
