/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/vars' as var;
@use './../base/mixins' as mixin;

/*------------------------------------------------------------------
Image and text block
------------------------------------------------------------------*/

.image-element {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

    @include mixin.media(var.$breakpoint-xmd, max) {
      width: 100%;
      transform: none !important;
      order: 1 !important;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    width: 50%;
    padding: 8rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    @include mixin.media(var.$breakpoint-xmd, max) {
      width: 100%;
      order: 2;
      padding: 0;
      margin-top: 6rem;
    }
  }
}

.image-element.image-right {
  .image-element__image {
    order: 2;
  }

  .image-element__text {
    order: 1;
  }
}
