/*------------------------------------------------------------------
Image Block
------------------------------------------------------------------*/
body {
  .image-element {

    &__wrap {

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &__caption {
        background: $secondary;
        position: absolute;
        bottom: 3rem;
        left: 2rem;
        padding: 1rem 4rem;
        box-shadow: $shadow;
        transform: translateX(-1rem);

        @include media($md, max) {
          position: relative;
          width: calc(100% - 2rem);
          padding: 1rem 2rem;

          p {
            font-size: 1.2rem;
          }
        }

        p {
          color: white;
          margin: 0;
        }
      }
    }
  }
}
