/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/mixins' as mixin;
@use './../base/colors' as color;
@use './../base/vars' as var;

/*------------------------------------------------------------------
Image Block
------------------------------------------------------------------*/
body {
  .image-element {

    &__wrap {

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &__caption {
        background: color.$secondary;
        position: absolute;
        bottom: 3rem;
        left: 2rem;
        padding: 1rem 4rem;
        box-shadow: var.$shadow9;
        transform: translateX(-1rem);

        @include mixin.media(var.$breakpoint-md, max) {
          position: relative;
          width: calc(100% - 2rem);
          padding: 1rem 2rem;

          p {
            font-size: 1.2rem;
          }
        }

        p {
          color: color.$white;
          margin: 0;
        }
      }
    }
  }
}