$link: $primary;

a:not([class]) {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 $link, 0 1px 0 $link;
  transition: all 333ms ease;
  overflow: hidden;
  color: $primary;

  &:hover {
    box-shadow: inset 0 -30px 0 $link, 0 1px 0 $link;
    color: white !important;
  }
}
