/*------------------------------------------------------------------
List items
------------------------------------------------------------------*/

ul:not([class]) {
  list-style: none;
  margin: 1rem auto 3rem;

  > li {
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 0.2rem;

    &:before {
      @include pseudo;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      top: 1rem;
      left: 0.5rem;
      background: currentColor;
    }
  }
}

ol:not([class]) {
  list-style: none;
  margin: 1rem auto 3rem;

  > li {
    padding-left: 2.5rem;
    margin-bottom: 0.2rem;
    position: relative;
    counter-increment: counter;

    &:before {
      @include pseudo;
      top: 0;
      left: 0.5rem;
      content: counter(counter) '.';
      color: inherit;
    }

    li {
      counter-increment: internalcounter;

      &:before {
        content: counter(internalcounter) '.';
      }
    }
  }
}
