//------------------------------------------------------------------
// Side Bar
//------------------------------------------------------------------

.sidebarWrapper {
  @include clearfix;
  position: relative;
  font-size: 0;
  max-width: $xl;
  margin: 0 auto 4rem;

  @include media($xmd, max) {
    margin-bottom: 0rem;
  }

  &__sidebar {
    width: 28rem;
    display: block;
    float: left;
    padding-top: 3.5rem;
    padding-left: 2rem;

    &--no-padding {
      padding-top: 8rem;
      padding-bottom: 11rem;
    }

    @include media($xmd, max) {
      display: none;
    }

    &__link {
      font-size: 1.6rem;
      display: block;
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      transition: all 111ms ease;

      &--indented {
        padding-left: 2rem;
      }

      &--alt {
        color: black;
      }

      &:hover {
        color: $primary; 
      }

      &--current,
      &--section {
        color: $primary;
      }
    }

    .publishDate {
      margin-top: -0.6rem;
    }
  }

  &__content {
    width: calc(100% - 30rem);
    display: block;
    float: left;

    @include media($xmd, max) {
      width: 100%;
    }

    &__recent {
      margin-top: 3rem;

      hr {
        margin: 0 auto 2rem;
      }

      &__link {
        color: black !important;
        transition: all 222ms ease;

        svg {
          position: relative;
          top: -1px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.3rem;
          transition: all 333ms ease;

          polygon {
            transition: all 222ms ease;
          }
        }

        &:hover {
          color: $primary !important;

          svg {
            transform: translateX(5px);

            polygon {
              fill: $primary;
            }
          }
        }
      }
    }
  }
}

.js-sticky-sidebar {
  @include media($xmd) {
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
    margin-bottom: 0;
    padding-bottom: 4rem;
  }
}

//------------------------------------------------------------------
// Padding after the fact
//------------------------------------------------------------------

.sidebarWrapper__content {
  @include media($xmd) {
    .accordionBlock__wrap {
      padding: 0 !important;
    }

    > .contentBlock:nth-child(1) {
      .h4 {
        margin-top: -5.4rem;
      }
    }

    .text-block__wrap {
      max-width: 82rem;
    }
  }
}
