//------------------------------------------------------------------
// Table Styles
// ------------------------------------------------------------------

table {
  vertical-align: top;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto 3rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: $shadow;
  min-width: $md;
  border: 2px solid $white;

  li {
    margin-bottom: 0 !important;
  }

  tr {
    background: $off-white;
    border-bottom: 2px solid $white;
    margin-bottom: 5px;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  tr:nth-child(even) {
    background: darken($off-white, 5%);
  }

  th,
  td {
    text-align: left;
    padding: 2rem;
    border-right: 2px solid $white;

    &:last-of-type {
      border-right: 0;
    }
  }

  th {
    background: $primary;
    color: $white !important;
  }
}
