//------------------------------------------------------------------
// Accordion Block
//------------------------------------------------------------------

.testimonialBlock {
  &__wrap {
    margin: 0 auto;
    max-width: $xl;
    padding: 0 2rem;

    &__item {
    }
  }
}
