/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/vars' as var;

/*------------------------------------------------------------------
Download block
------------------------------------------------------------------*/

.download-element {
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.75rem 2rem;
    border-bottom: 1px solid var.$grey-light;
    text-decoration: none;

    &:first-of-type {
      border-top: 1px solid var.$grey-light;
    }

    &:hover {
      .download-element__details b {
        color: var.$primary;
      }

      path {
        fill: var.$primary;

        &:last-of-type {
          transform: translateY(3px);
        }
      }
    }
  }

  &__icon {
    width: 6rem;
    position: relative;
    top: 0.5rem;

    svg {
      overflow: visible;

      path {
        transition: all var.$fast;
      }
    }
  }

  &__details {
    width: calc(100% - 6rem);

    b {
      transition: all var.$fast;
    }
  }
}
