.element {
  margin: 8rem auto;
  position: relative;
  width: 100%;

  @media (max-width: 768px) {
    margin: 4rem auto;
  }

  &.full {
    max-width: 100%;
  }

  &.wide {
    max-width: var(--width-xl);
  }

  &.standard {
    max-width: var(--width-lg);
  }

  &.narrow {
    max-width: var(--width-xmd);
  }

  &.thin {
    max-width: var(--width-sm);
  }

  >[class*="__wrap"] {
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    width: 100%;
  }
}

.full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wide {
  max-width: var(--width-xl);
  margin-left: auto;
  margin-right: auto;
}

.standard {
  max-width: var(--width-lg);
  margin-left: auto;
  margin-right: auto;
}

.narrow {
  max-width: var(--width-xmd);
  margin-left: auto;
  margin-right: auto;
}

.thin {
  max-width: var(--width-sm);
  margin-left: auto;
  margin-right: auto;
}