.grid-element {
  &__wrap {
    overflow: auto;
    padding: 0 1rem !important;
  }

  &__item {
    overflow: hidden;
    position: relative;
    float: left;
    padding: 1rem;

    &--large {
      aspect-ratio: 1000/500;
      width: 100%;

      @media (max-width: 768px) {
        aspect-ratio: 500/400;
      }
    }

    &--medium {
      aspect-ratio: 500/600;
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
        aspect-ratio: 500/300;
      }
    }

    &--small {
      aspect-ratio: 500/300;
      width: 50%;

      @media (max-width: 768px) {
        aspect-ratio: 500/500;
      }
    }
  }

  &__image {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: var(--radius-large);
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    border-radius: var(--radius-large);
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 2rem 3rem 1rem;

    @media (max-width: 768px) {
      padding: 2rem;

      p {
        display: none;
      }
    }
  }
}