.image-text-element {
  overflow: hidden;
  position: relative;
  background: var(--colour-grey-lighter);
  border-radius: var(--radius-large);
  width: calc(100% - 4rem);

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 !important;
  }

  &__image {
    width: 50%;
    position: relative;
    aspect-ratio: 1/1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 968px) {
      width: 100%;
      transform: none !important;
      order: 1 !important;
    }
  }

  &__text {
    width: 50%;
    padding: 2rem 8rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    @media (max-width: 968px) {
      width: 100%;
      order: 2;
      padding: 4rem;
    }
  }

  &__constraint {
    width: 100%;
  }
}

.image-text-element.image-right {
  .image-text-element__image {
    order: 2;
  }

  .image-text-element__text {
    order: 1;
  }
}
