

/*------------------------------------------------------------------
Image Block
------------------------------------------------------------------*/
body {
  .image-element {
    img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: -3rem;
    }

    &__caption {
      background: var(--colour-secondary);
      position: absolute;
      bottom: 0;
      left: 2rem;
      padding: 1rem 4rem;
      box-shadow: var(--shadow-large);
      transform: translateX(-1rem);

      @container style(--is-width-md: true) {
        position: relative;
        width: calc(100% - 2rem);
        padding: 1rem 2rem;
      }
    }
  }
}
