/*------------------------------------------------------------------
Image Block
------------------------------------------------------------------*/
body {
  .image-element {
    width: calc(100% - 4rem);

    &__wrap {
      padding: 0 !important;
      border-radius: var(--radius-large);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: var(--radius-large);
    }

    &__caption {
      position: absolute;
      bottom: -4rem;
      left: 0;
      right: 0;
      padding: 1rem 2rem;
      transform: translateX(-1rem);

      @container style(--is-max-width-md: true) {
        position: relative;
        width: calc(100% - 2rem);
        padding: 1rem 2rem;
      }
    }
  }
}
