/*------------------------------------------------------------------
Image Block
------------------------------------------------------------------*/
body {
  .image-element {

    &--caption {
      img {
        border-radius: var(--radius-large) var(--radius-large) 0 0 !important;
      }
    }

    &__wrap {
      border-radius: var(--radius-large);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: var(--radius-large);
    }

    &__caption {
      background: var(--colour-grey-lighter);
      padding: 3rem 2rem 1rem;
      margin-top: -2rem;
      border-radius: 0 0 var(--radius-large) var(--radius-large);
    }
  }
}
