/*------------------------------------------------------------------
Link block
------------------------------------------------------------------*/

.link-element {
  &__wrap {
    width: auto !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  &__item {
    margin: 0 0 1rem;
    background: var(--colour-off-white);
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__icon {
    text-align: center;
    display: block;

    img {
      margin: 2rem auto 0;
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    padding: 3rem;
    z-index: 2;
    position: relative;
    background: var(--colour-off-white);
  }
}

//------------------------------------------------------------------
// Variations
//------------------------------------------------------------------

.link-element__wrap--2 {
  grid-template-columns: repeat(2, 1fr);
}

.link-element__wrap--3 {
  grid-template-columns: repeat(3, 1fr);
}

.link-element__wrap--4 {
  grid-template-columns: repeat(4, 1fr);
}
