/*------------------------------------------------------------------
Tabbed content block
------------------------------------------------------------------*/

.tabbed-element {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__tabs {
    width: 30rem;
    border-right: 1px solid var(--colour-grey-light);
    position: relative;
    padding-right: 1rem;
  }

  &__tab {
    padding: 1rem 2rem;
    display: block;
    border-radius: var(--radius-small);

    &.active {
      background: var(--colour-off-white);

      h6 {
        color: var(--colour-primary);
      }
    }
  }

  &__items {
    width: calc(100% - 30rem);
    padding: 0 4rem;
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}

@container style(--is-max-width-md: true) {
  .tabbed-element {
    &__tabs {
      width: 100%;
      border-right: 0 solid var(--colour-grey-light);
      border-left: 1px solid var(--colour-grey-light);
      padding-left: 2rem;
      margin-bottom: 4rem;
    }

    &__items {
      width: 100%;
      padding: 0 2rem;
    }
  }
}
