/*------------------------------------------------------------------
Tabbed content block
------------------------------------------------------------------*/

.tabbed-element {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__tabs {
    width: 30rem;
    border-right: 0.2rem solid var(--colour-grey-light);
    position: relative;
  }

  &__tab {
    padding: 1rem 0;
    display: block;
    position: relative;

    &.active {
      h6 {
        color: var(--colour-primary);
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -0.2rem;
        bottom: 0;
        width: 0.2rem;
        background: var(--colour-primary);
      }
    }
  }

  &__items {
    width: calc(100% - 30rem);
    padding: 0 0 0 4rem;
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}

@container style(--is-max-width-md: true) {
  .tabbed-element__tab.active:after {
    right: 0;
    left: -0.2rem;
  }

  .tabbed-element {
    &__tabs {
      width: 100%;
      border-right: 0 solid var(--colour-grey-light);
      border-left: 2px solid var(--colour-grey-light);
      padding-left: 0;
      margin-bottom: 4rem;
    }

    &__tab {
      padding-left: 2rem;
    }

    &__items {
      width: 100%;
      padding: 0;
    }
  }
}
