/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/vars' as var;
@use './../base/mixins' as mixin;

/*------------------------------------------------------------------
Testimonial element
------------------------------------------------------------------*/

.testimonial-element {
  &__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__item {
    max-width: var(--breakpoint-md);
    margin: 0 auto;
    text-align: center;
    background: var(--color-secondary);
    box-shadow: var.$shadow9;
    border-radius: var(--radius-small);
    padding: 6rem;

    img {
      width: 4rem;
      height: auto;
      margin: 0 auto 4rem;
    }
  }

  &__credit {
    color: white;
    margin-top: 4rem;
  }

  
}