.testimonial-element {
  padding: 0 2rem;

  &__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__wrap {
    padding: 0 !important;
  }

  &__slider {
    width: 100%;
    position: relative;
  }

  &__count {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 5;
    opacity: 0.2;
  }

  &__item {
    margin: 0 var(--gutter-base);
    text-align: center;
    background: var(--colour-secondary);
    border-radius: var(--radius-large);
    padding: 6rem;
    width: 100%;

    @media (min-width: 768px) {
      padding: 8rem;
    }

    img {
      width: 4rem;
      height: auto;
      margin: 0 auto 4rem;
    }
  }

  &__credit {
    color: white;
    margin-top: 4rem;
  }
}