.video-element {
  &__wrap {
    position: relative;
    width: 100%;
  }

  &__player {
    transition: all var(--timing-fast);
    position: absolute;
    width: calc(100% - 4rem);
    height: 100%;
    opacity: 0;
    top: 0;
    left: 2rem;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    border-radius: var(--radius-large);
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__thumbnail {
    aspect-ratio: 1920 / 1080;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: var(--radius-large);
    overflow: hidden;

    &.playing {
      ~.video-element__player {
        opacity: 1;
        visibility: visible;
      }
    }

    &.animate {
      ~.video-element__icon {
        opacity: 0;

        .stroke-dotted {
          stroke-width: 2px;
          opacity: 1;
        }

        .stroke-solid {
          opacity: 0;
          stroke-dashoffset: 300;
        }
      }
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 0.4) 100%);
      opacity: 0.75;
      transition: all --timing-medium;
      z-index: 2;
    }

    &:hover:after {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      object-fit: cover;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    z-index: 2;
    pointer-events: none;
    z-index: 999999;
    transition-delay: 1000ms;
  }

  &__caption {
    margin-top: var(--gutter-tiny);
    font-size: 1.4rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  animation: spin 4s infinite linear;
  transition:
    opacity 1s ease,
    stroke-width 1s ease;
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 2px;
  transition:
    stroke-dashoffset 1s ease,
    opacity 1s ease;
}

.video-element__svg {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}