/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/mixins' as mixin;
@use './../base/colors' as color;
@use './../base/vars' as var;

/*------------------------------------------------------------------
Breadcrumbs
------------------------------------------------------------------*/

.breadCrumbs {
  border-bottom: 1px solid color.$off-white;

  @include mixin.media(var.$md, max) {
    padding: 0;
  }

  &__wrap {
    max-width: var.$xl;
    padding: 0 2rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include mixin.media(var.$md, max) {
      padding: 0 2rem;
    }

    p {
      display: inline-block;
      margin: 0 !important;
      font-size: 1.4rem !important;
    }

    &__item {
      margin-bottom: 0;
      font-size: 1.4rem;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      padding: 2.4rem 1rem;
      color: color.$primary;

      @include mixin.media(var.$md, max) {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-size: 1rem;
      }

      &--divivder svg {
        position: relative;
        top: 2px;
        opacity: 0.2;

        polygon,
        path {
          fill: inherit;
        }
      }

      &--icon {
        margin-left: -0.9rem;

        svg {
          opacity: 0.2;
          position: relative;
          top: 2px;

          polygon {
            transition: all 333ms ease;
          }

          polygon,
          path {
            fill: inherit;
          }
        }

        &:hover {
          path,
          polygon {
            fill: inherit;
          }
        }
      }

      &--link {
        color: color.$primary;

        &:hover {
          color: color.$primary;
        }
      }

      &--current {
        color: color.$primary;
      }
    }

    &__social {
      @include mixin.vertical-align;
      right: 2rem;

      @include mixin.media(var.$md, max) {
        right: 1.2rem;
      }

      @include mixin.media(var.$sm, max) {
        display: none;
      }

      &__text {
        margin: 0 !important;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2rem !important;

        @include mixin.media(var.$md, max) {
          display: none;
        }
      }

      &__link {
        @include mixin.svg(1, 1);
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        margin-left: 0.3rem;
        width: 2.4rem;
        transition: all 222ms ease;
        backface-visibility: hidden;

        path {
          fill: color.$primary;
        }

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
