/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/mixins' as mixin;
@use './../base/vars' as var;

/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/

.footer {
    margin-top: 10rem;
    width: 100%;
    background: var.$grey-light;
    padding: 0 2rem;

    &__wrap {
        max-width: var.$breakpoint-xl;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 6rem 0 4rem;

        &__copyright {
            margin-top: 4rem;
            padding: 0 2rem 0 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;

            @include mixin.media(var.$breakpoint-md, max) {
                padding: 0;
            }

            a {
                margin-left: 1rem;
            }
        }

        &__column {
            width: 33.333%;

            &--1 {
                display: flex;
                flex-wrap: wrap;
                padding: 0 2rem 0 0;

                @include mixin.media(var.$breakpoint-xmd, max) {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 3rem;
                    padding: 0;
                }
            }

            &--2 {
                display: flex;
                flex-wrap: wrap;
                padding: 0 2rem;
                justify-content: space-between;

                @include mixin.media(var.$breakpoint-xmd, max) {
                    width: 100%;
                    padding: 0;
                    justify-content: center;
                }
            }

            &--3 {
                display: flex;
                flex-wrap: wrap;
                padding: 0 2rem;
                align-content: flex-start;

                @include mixin.media(var.$breakpoint-xmd, max) {
                    width: 100%;
                    padding: 0;
                    justify-content: center;
                }
            }

            &__item {
                width: 100%;
            }
        }
    }
}