/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/mixins' as mixin;
@use './../base/colors' as color;
@use './../base/variables' as variable;

/* -------------------------------------------- 
Mobile menu
-------------------------------------------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
  bottom: 0;
  padding: 3rem 0;
  overflow: auto;
  transition: all variable.$fast;
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  &__wrap {
    @include mixin.full;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    align-content: flex-start;
    padding-top: 8rem;

    &__item {
      width: 100%;
      display: block;
      position: relative;
      margin-bottom: -1px;

      &.active .mobile-menu__wrap__item__arrow svg {
        transform: rotate(-180deg);
      }

      &:first-of-type {
        border-top: 1px solid color.$off-white;
      }

      &__link {
        display: block;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border-bottom: 1px solid color.$off-white;
      }

      &__arrow {
        position: absolute;
        right: 0;
        top: 0;
        width: 4.5rem;
        height: 4.5rem;
        border-left: 1px solid color.$off-white;
        cursor: pointer;

        svg {
          left: 0;
          right: 0;
          margin: 0 auto;
          position: absolute;
          top: 2rem;
          transition: all variable.$fast;

          path {
            fill: color.$primary;
          }
        }
      }

      &__group {
        transition: all variable.$fast;
        overflow: hidden;
        background: color.$off-white;

        &:not(.active) {
          display: none;
        }

        &__items {
          padding: 1rem;
        }

        &__link {
          display: block;
          padding: 1rem 2rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.mobileMenuActive {
  overflow: hidden;

  .header {
    box-shadow: none !important;
    transform: translateY(0%) !important;
  }

  .mobile-menu {
    visibility: visible !important;
    opacity: 1 !important;
  }

  .header__wrap__navburger__ring--1 {
    transform: rotate(45deg) translateX(0.7rem) translateY(0.7rem);
  }

  .header__wrap__navburger__ring--2 {
    background: transparent !important;
  }

  .header__wrap__navburger__ring--3 {
    transform: rotate(-45deg) translateX(0.7rem) translateY(-0.7rem);
  }
}
