/*------------------------------------------------------------------
Modules
------------------------------------------------------------------*/

@use './../base/vars' as var;
@use './../base/mixins' as mixin;

/*------------------------------------------------------------------
Blog post
------------------------------------------------------------------*/

.blog-post {
    background: white;
    box-shadow: var.$shadow9;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    &__image {
        width: 25rem;
        @include mixin.cover;
    }

    &__content {
        width: calc(100% - 25rem);
        padding: 3rem 3rem 4rem;
    }
}
