//------------------------------------------------------------------
// Error Page
//------------------------------------------------------------------

.fourOhFour {
  @include full;
  background: $primary;

  &__wrap {
    @include vertical-center;
    text-align: center;

    &__number {
      h1 {
        font-size: 26vw !important;
        color: $primary !important;
        font-weight: bold !important;
        text-shadow: 0em 0.16em 0.24em rgba(0, 0, 0, 0.32);
      }
    }

    &__button {
      a {
        font-weight: bold !important;
      }
    }
  }
}
