//------------------------------------------------------------------
// Style Guide
//------------------------------------------------------------------

.styleguide {
  margin: 0 auto;
  max-width: $xl;
  padding: 10rem 2rem;
}
